.divTags {
  // width: 100px;
  // height: 100px;
  //   background-color: #00ffd7;

  .divTags_tag {
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
    margin: 5px;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
  }
}
