.divHome {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  .divHome__gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 50px;
    padding: 70px 0 70px 0;
  }
}
