.divFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 209px;
  background-color: black;
  margin-top: 60px;

  .divFooter__logo {
    width: 122px;
  }

  .divFooter__copyright {
    color: white;
    font-size: 24px;
  }
}
